@import "tailwindcss";

:root {
  --foreground-rgb: 26, 26, 26; /* texto oscuro */
  --background-start-rgb: 245, 245, 245; /* gris claro */
  --background-end-rgb: 255, 255, 255; /* blanco */
  --card-bg-rgb: 255, 255, 255; /* fondo de tarjetas */
  --card-text-rgb: 26, 26, 26;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgba(255, 239, 239, 1);
  font-family: "Archivo", sans-serif;
}

.logoFont {
  font-family: "Bebas Neue", sans-serif;
  
}

h1, span {
  font-family: "Bebas Neue", sans-serif;
}

.text-balance {
  text-wrap: balance;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.grid_5_col {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.slick-track {
  display: flex !important;
  align-items: stretch !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .grid {
    gap: 0;
  }
}

@media screen and (max-width: 480px) {
  .grid > * {
    grid-column: span 12;
  }
}
